{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    <h1>Add ticket</h1>
    <form method="POST" action="/">
      <input type="text" name="place">
      <input type="submit" value="Add">
    </form>

    <h1>Tickets</h1>
    {% for ticket in tickets %}
      <p>{{ticket.place}}</p>
      <form method="POST" action="./delete">
        <input type="hidden" value="{{ticket.place}}" name="place">
        <input type="submit" value="Delete">
      </form>
      <form method="POST" action="./update">
        <input type="hidden" value="{{ticket.place}}" name="oldticket">
        <input type="text" value="{{ticket.place}}" name="newplace">
        <input type="submit" value="Update">
      </form>
    {% endfor %}
    {% for post in posts %}
    <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
    {% endfor %}
{% endblock %}
