{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    <h1>Add ticket</h1>
    <form method="POST" action="/">
      <input type="text" name="place">
      <input type="submit" value="Add">
    </form>

    <h1>Tickets</h1>
    <table>
    {% for ticket in tickets %}
      <tr>
          <td>
            {{ticket.place}}
          </td>
          <td>
            <form method="POST" action="./update" style="display: inline">
              <input type="hidden" value="{{ticket.place}}" name="oldplace">
              <input type="text" value="{{ticket.place}}" name="newplace">
              <input type="submit" value="Update">
            </form>
          </td>
          <td>
            <form method="POST" action="./delete" style="display: inline">
              <input type="hidden" value="{{ticket.place}}" name="place">
              <input type="submit" value="Delete">
            </form>
          </td>
        </tr>
    {% endfor %}
    </table>
    {% for post in posts %}
    <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
    {% endfor %}
{% endblock %}
